<div class="image" >
<div  fxFlex="row" fxLayout.lt-sm="column">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef class="th"> No</th>
    <td mat-cell *matCellDef="let element; let i=index;" class="td"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="RocketName">
    <th mat-header-cell *matHeaderCellDef class="th"> RocketName </th>
    <td mat-cell *matCellDef="let element" class="td"> {{element.RocketName  | uppercase}} </td>
  </ng-container>

  
  <ng-container matColumnDef="Distance">
    <th mat-header-cell *matHeaderCellDef style="padding: 10px;" class="th"> Distance </th>
    <td mat-cell *matCellDef="let element" style="padding: 10px;" class="td"> {{element.Distance}} </td>
  </ng-container>


  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef  style="padding: 10px;" class="th"> Date </th>
    <td mat-cell *matCellDef="let element" style="padding: 10px;" class="td"> {{element.Date}} </td>
  </ng-container>


  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef style="padding: 10px;" class="th"> time </th>
    <td mat-cell *matCellDef="let element"  style="padding: 10px;" class="td"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="EnterMembers">
    <th mat-header-cell *matHeaderCellDef  style="padding: 10px;" class="th"> EnterMembers</th>
    <td mat-cell *matCellDef="let element"  style="padding: 10px;"class="td"> {{element.EnterMembers}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  

<br><br>
  <div >
    <div fxLayoutAlign="space-around center" >
      <button mat-raised-button color="warn" class="btn3" (click)="showDetail()">Show details</button>
    </div>
    <br>
    <table mat-table [dataSource]="dataSourceOne" class="mat-elevation-z8">
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="th">No</th>
        <td mat-cell *matCellDef="let element" class="td"> {{element.id}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px;" class="th"> email </th>
        <td mat-cell *matCellDef="let element" style="padding: 10px;" class="td"> {{element.email}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef  style="padding: 10px;" class="th"> FirstName</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px;" class="td"> {{element.first_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px;" class="th"> Photo </th>
        <td mat-cell *matCellDef="let element"  style="padding: 10px;" class="td"> <img src="{{element.avatar}}" width="50" height="auto" alt=""> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsone"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsone;"></tr>
    </table>
   

    </div>
    </div>
</div>



   
    